/*==============================================================
===================== GLOBAL STYLES ==========================*/

body {
  color: var(--blue-black);
}

h1, h2, h3, h4 {
  color: var(--orange);
}

.hide {
    display: none;
}

#main-container {
  margin: 50px;
}

input[type=submit],
button {
  border: 1px solid var(--blue-black);
  transition: .2s;
}

input[type=submit]:hover {
  opacity: 75%;
}
<<<<<<< HEAD


/*==============================================================
========================== MOBILE ============================*/

/* @media only screen and (min-width: 576) {} */
  /*----- PROFILE VIEW ------*/

  .user-profile {
      text-align: center;
  }

  .user-profile h2 {
      width: 100%;
      text-align: center;
  }

  .user-profile img {
      width: 250px;
      height: 250px;
      margin: 10px;
      border-radius: 50%;
      object-fit: cover;
  }

  /*----- PROFILE VIEW - POST GRID ------*/


  .post-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .post-grid img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
  }

/*==============================================================
========================= TABLET ==============================*/

@media only screen and (min-width: 768px) {

  /*----- PROFILE VIEW ------*/

  .user-profile {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
  }

  .user-profile h2 {
      width: 100%;
      text-align: center;
  }

  .user-profile img {
      width: 300px;
      height: 300px;
      margin: 10px;
      border-radius: 50%;
      object-fit: cover;
  }

  .user-profile div {
    border: 1px solid gray;
    align-self: center;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: -1;
    border-radius: 50%;
    margin-left: -60px;
  }

  .user-profile p {
    width: 80%;
  }

}

/*==============================================================
========================= DESKTOP =============================*/

@media only screen and (min-width: 992px) {

}
=======
>>>>>>> 9b935792cc17335b7185ef6ec6a0e117db802d66
