/*==============================================================
===================== GLOBAL STYLES ==========================*/

body {
  color: var(--blue-black);
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4 {
  color: var(--orange);
}

#main-container {
  margin: 50px;
}

.btn {
    border: 1px solid var(--midnight-blue);
    background: var(--pale-orange);
    transition: .2s;
}

.btn:hover {
    border: 1px solid var(--orange);
    opacity: 75%;
}

/*==============================================================
========================== MOBILE ============================*/

/* @media only screen and (min-width: 576) {} */
 /*----- LANDING VIEW ------*/

 header {
     text-align: center;
     margin-bottom: 30px;
 }

 header img {
     width: 100%;
 }

 .form-group h4 {
     margin-bottom: 1rem;
 }

 /*----- PROFILE VIEW ------*/

  .user-profile {
      text-align: center;
      margin: 50px;
  }

  .user-profile h2 {
      width: 100%;
      text-align: center;
  }

  .user-profile img {
      width: 250px;
      height: 250px;
      margin: 10px 10px 20px 10px;
      border: 3px solid var(--midnight-blue);
      border-radius: 50%;
      object-fit: cover;
  }

  /*----- PROFILE VIEW - NEW POST FORM ------*/

  #new-post-form {
      border: 1px solid var(--midnight-blue);
      margin: 40px auto;
      max-width: 900px;
      padding: 40px;
      width: 80%;
  }

  /*----- PROFILE VIEW - POST GRID ------*/

  .post-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .post-grid img {
    width: 50vmin;
    height: 50vmin;
    min-width: 200px;
    min-height: 200px;
    object-fit: cover;
    margin: 10px;

  }

/*----- PROFILE VIEW - POST EACH MODAL ------*/

.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-modal-background {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    margin-top: -50px;
    align-items: center;
    justify-content: center;
}

.post-modal-background button {
    position: absolute;
    right: 0;
    top: 0;
}

.post-modal {
    background: whitesmoke;
    width: 90%;
    padding: 20px;
}

.post-modal img {
    width: 50vmin;
    height: 50vmin;
    min-width: 200px;
    min-height: 200px;
    object-fit: cover;
    margin: 10px auto;
}

#post-menu {
    background: whitesmoke;
    z-index: 2;
    opacity: 1;
}

/*==============================================================
================= ONE RULE TO RULE THEM ALL ===================*/

.hide {
    display: none;
}
